.navbar-image {
    height: 80px;
    margin-right: 20px;
}

.container-header {
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 20px; /* Adjust the padding as needed */
    background-color: #ffffff;
}
