
.popup-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .popup-title{
        display: flex;
        height: 50px;
        background-color: #064D7A;
        color: white;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        border-width: 4px;
        border-style: solid;
        border-color: #B5B5B4;
    }

    .chart{
        display: flex;
        flex-direction: column;
        height: 100%;

        .global-chart{
            margin: auto;
            height: 45%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .display-chart{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 95%;
                height: 95%;
                background-color: white;
            }
            
        }
        
    }

}
